<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rabins | Personal Portfolio HTML Template</title>
    <link rel="shortcut icon" type="image/ico" href="images/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-plugin-collection.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <div class="preloader">
        <img src="images/preloader.gif" alt="">
    </div>

    <nav class="navbar navbar-expand-lg main_menu" id="main_menu_area">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="Rabins">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home-page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio-page">Portfolio <i class="fas fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="portfolio.html">Portfolio Grid</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills-page">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog-page">Blog <i class="fas fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="blog.html">Blog Grid</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_wrapper" data-bs-spy="scroll" data-bs-target="#main_menu_area" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary" tabindex="0">


        <header class="site-header parallax-bg">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-8">
                        <h2 class="title">Blog Details</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>Portfolio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Portfolio-Area-Start -->
        <section class="blog-details section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="head-title">What People Says About Real Estate Properties.</h2>
                        <div class="blog-meta">
                            <div class="single-meta">
                                <div class="meta-title">Published</div>
                                <h4 class="meta-value"><a href="#">13 November, 2019</a></h4>
                            </div>
                            <div class="single-meta">
                                <div class="meta-title">Tag</div>
                                <h4 class="meta-value"><a href="#">Web Development</a></h4>
                            </div>
                            <div class="single-meta">
                                <div class="meta-title">Comments</div>
                                <h4 class="meta-value">258 Comments</h4>
                            </div>
                        </div>
                        <figure class="image-block">
                            <img src="images/blog-block-image.jpg" alt="">
                        </figure>
                        <div class="description">
                            <h2>That and normal and we've class. Explain attained.</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley.</p>
                            <blockquote>Standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took.</blockquote>
                            <ul class="gallery">
                                <li><img src="images/gallery-3.jpg" alt="" class="img-fluid w-100"></li>
                                <li><img src="images/gallery-4.jpg" alt="" class="img-fluid w-100"></li>
                            </ul>
                            <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply
                                dummy text of the printing and typesetting industry.</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum
                                is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                galley.</p>
                        </div>
                        <div class="single-navigation">
                            <a href="#" class="nav-link"><span class="icon"><i
                                        class="fal fa-angle-left"></i></span><span class="text">America National Parks
                                    With Denver.</span></a>
                            <a href="#" class="nav-link"><span class="text">A Seaside Reset In Laguna Beach.</span><span
                                    class="icon"><i class="fal fa-angle-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-Area-End -->

        <!-- Quote-Area-Start -->
        <section class="quote-area section-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="quote-box">
                            <div class="row ">
                                <div class="col-lg-6 offset-lg-3">
                                    <div class="quote-content">
                                        <h3 class="title">Your Journey Today</h3>
                                        <div class="desc">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate rem
                                                maiores, neque at officiis laudantium.</p>
                                        </div>
                                        <a href="#" class="button-orange mouse-dir">Get Started <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quote-Area-End -->

        <!-- Footer-Area-Start -->
        <footer class="footer-area">
            <div class="container">
                <div class="row footer-widgets">
                    <div class="col-md-12 col-lg-3 widget">
                        <div class="text-box">
                            <figure class="footer-logo">
                                <img src="images/logo.png" alt="">
                            </figure>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, libero. </p>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 offset-lg-1 widget">
                        <h3 class="widget-title">Useful Link</h3>
                        <ul class="nav-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 widget">
                        <h3 class="widget-title">Contact Info</h3>
                        <ul>
                            <li>17232 Broadway Suite 308, Jackson Heights, 11372, NY, United States.</li>
                            <li><a href="#">+1347-430-9510</a></li>
                            <li><a href="#">websolutionus1@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 widget">
                        <h3 class="widget-title">Help</h3>
                        <ul class="nav-menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">404 Page</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>Copyright 2023 <span>Rabins</span>. All Rights Reserved.</p>
                                <p>Powered by WebSolutionUS &nbsp; | &nbsp; 2022 - 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-Area-End -->
    </div>


    <script src="js/vendor/jquery-min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery-plugin-collection.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/main.js"></script>
</body>

</html>