<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rabins | Personal Portfolio HTML Template</title>
    <link rel="shortcut icon" type="image/ico" href="images/favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-plugin-collection.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <div class="preloader">
        <img src="images/preloader.gif" alt="">
    </div>

    <nav class="navbar navbar-expand-lg main_menu" id="main_menu_area">
        <div class="container px-0">
            <a class="navbar-brand" href="index.html">
                <img src="images/logo.png" alt="Rabins">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="far fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home-page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-page">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfolio-page">Portfolio <i class="fas fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="portfolio.html">Portfolio Grid</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills-page">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog-page">Blog <i class="fas fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="blog.html">Blog Grid</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_wrapper" data-bs-spy="scroll" data-bs-target="#main_menu_area" data-bs-root-margin="0px 0px -40%"
        data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary" tabindex="0">


        <header class="site-header parallax-bg">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-8">
                        <h2 class="title">Portfolio Details</h2>
                    </div>
                    <div class="col-sm-4">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>Portfolio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Portfolio-Area-Start -->
        <section class="portfolio-details section-padding" id="portfolio-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="head-title">9 Things I Love About Shaving My Head During.</h2>
                        <figure class="image-block">
                            <img src="images/portfolio-block.jpg" alt="">
                        </figure>
                        <div class="portflio-info">
                            <div class="single-info">
                                <h4 class="title">Client</h4>
                                <p>SquareSparc Ltd.</p>
                            </div>
                            <div class="single-info">
                                <h4 class="title">Date</h4>
                                <p>8 January, 2019</p>
                            </div>
                            <div class="single-info">
                                <h4 class="title">Website</h4>
                                <p>www.fooleo.com.uk</p>
                            </div>
                            <div class="single-info">
                                <h4 class="title">Role</h4>
                                <p>Web Design & Web Development</p>
                            </div>
                        </div>
                        <div class="description">
                            <h2>That and normal and we've class. Explain attained.</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem porro ex repellat nobis
                                maxime odio et, dolore fuga excepturi culpa, officiis voluptate aspernatur similique
                                officia nihil exercitationem qui corporis iste assumenda eum quaerat? Porro amet
                                repellat molestias eos iusto suscipit quos ex beatae aut voluptate deserunt dicta esse
                                ullam ipsa nihil minima odio vitae, architecto totam, praesentium impedit excepturi
                                ipsam.</p>
                            <ul class="gallery">
                                <li><img src="images/gallery-1.jpg" alt="" class="img-fluid w-100"></li>
                                <li><img src="images/gallery-2.jpg" alt="" class="img-fluid w-100"></li>
                            </ul>
                            <h3>Process Story</h3>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta et veniam omnis,
                                voluptatem qui dolorem nulla provident totam saepe, odit quibusdam dignissimos tempora
                                autem ut illo obcaecati ducimus sint repudiandae! Hic eos nam aperiam fugit?
                                Perspiciatis explicabo ab harum. Sed ducimus veniam voluptatibus qui ea, atque sint eum
                                quae molestiae quod officiis, at enim ab necessitatibus laborum! Dolores necessitatibus
                                a earum perspiciatis ut consectetur corrupti omnis cum fugit, explicabo dolorem
                                similique deleniti inventore natus! Quaerat sit soluta enim at reiciendis?.</p>
                            <ul class="dots-list">
                                <li>First refinement become it over a may an that harmonic every away.</li>
                                <li>Clarinet she or here, separated hides. With work a and so pay different chooses
                                    answer.</li>
                                <li>Never analyzed the of boss's films death, heaven cache name any judgment, all.</li>
                            </ul>
                            <p>Hic eos nam aperiam fugit? Perspiciatis explicabo ab harum. Sed ducimus veniam
                                voluptatibus qui ea, atque sint eum quae molestiae quod officiis, at enim ab
                                necessitatibus laborum! Dolores necessitatibus a earum perspiciatis ut consectetur
                                corrupti omnis cum fugit, explicabo dolorem similique deleniti inventore natus! Quaerat
                                sit soluta .</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo animi libero suscipit
                                praesentium perferendis possimus, ex dicta eius ea soluta sunt. Sapiente nulla,
                                consequuntur ipsam saepe ad numquam blanditiis fugiat animi. Harum fugit incidunt
                                nostrum eligendi doloremque vero possimus illum consequuntur quae sint officia
                                repudiandae porro maxime cupiditate dolor magnam totam sit natus id neque quod.
                                Molestias illo repudiandae laudantium illum perspiciatis nisi quasi amet corrupti
                                .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-Area-End -->

        <!-- Quote-Area-Start -->
        <section class="quote-area section-padding-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="quote-box">
                            <div class="row ">
                                <div class="col-lg-6 offset-lg-3">
                                    <div class="quote-content">
                                        <h3 class="title">Your Journey Today</h3>
                                        <div class="desc">
                                            <p>Still top of and the drops. What don't issued character god, no ports,
                                                credit question.</p>
                                        </div>
                                        <a href="#" class="button-orange mouse-dir">Get Started <span
                                                class="dir-part"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quote-Area-End -->

        <!-- Footer-Area-Start -->
        <footer class="footer-area">
            <div class="container">
                <div class="row footer-widgets">
                    <div class="col-md-12 col-lg-3 widget">
                        <div class="text-box">
                            <figure class="footer-logo">
                                <img src="images/logo.png" alt="">
                            </figure>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, libero. </p>
                            <ul class="d-flex flex-wrap">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 offset-lg-1 widget">
                        <h3 class="widget-title">Useful Link</h3>
                        <ul class="nav-menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 widget">
                        <h3 class="widget-title">Contact Info</h3>
                        <ul>
                            <li>17232 Broadway Suite 308, Jackson Heights, 11372, NY, United States.</li>
                            <li><a href="#">+1347-430-9510</a></li>
                            <li><a href="#">websolutionus1@gmail.com</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 widget">
                        <h3 class="widget-title">Help</h3>
                        <ul class="nav-menu">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">404 Page</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="copyright">
                                <p>Copyright 2023 <span>Rabins</span>. All Rights Reserved.</p>
                                <p>Powered by WebSolutionUS &nbsp; | &nbsp; 2022 - 2023</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer-Area-End -->
    </div>


    <script src="js/vendor/jquery-min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/contact-form.js"></script>
    <script src="js/jquery-plugin-collection.js"></script>
    <script src="js/vendor/modernizr.js"></script>
    <script src="js/main.js"></script>
</body>

</html>